In [2]:
import pandas as pd

In [3]:
dataset =pd.read_csv("insurance_pre.csv")

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [9]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [10]:
dependent=dataset[['charges']]

In [11]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent,dependent,test_size=30,random_state=0)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error','friedman_mse','absolute_error'],
                'max_features': ['sqrt','log2'],
                'splitter':['best','random']
             }
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)

In [14]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [15]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'best'}:

In [16]:
grid.cv_results_

{'mean_fit_time': array([0.08340926, 0.04316459, 0.14095964, 0.14181757, 0.13887281,
        0.13914151, 0.08387184, 0.0641449 , 0.38181462, 0.34099274,
        0.44025621, 0.30269032]),
 'std_fit_time': array([0.11121852, 0.04643762, 0.09796541, 0.04942704, 0.07674142,
        0.07934215, 0.03820474, 0.07801423, 0.04018634, 0.10131831,
        0.11582437, 0.10862418]),
 'mean_score_time': array([0.07460718, 0.11697135, 0.02247753, 0.06239729, 0.02370143,
        0.02240143, 0.03976049, 0.0398026 , 0.05992517, 0.06141443,
        0.05942678, 0.08117089]),
 'std_score_time': array([0.07138448, 0.07207489, 0.03542591, 0.07752959, 0.03884232,
        0.03606805, 0.04446201, 0.0443208 , 0.04673578, 0.04620529,
        0.04619905, 0.07461584]),
 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                    'squared_error', 'friedman_mse', 'friedman_mse',
                    'friedman_mse', 'friedman_mse', 'absolute_error',
                    'absolute_error', 'absolute_error', 'absolute_error'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt', 'log2',
                    'log2', 'sqrt', 'sqrt', 'log2', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'squared_error',
   'max_features': 'sqrt',
   'splitter': 'best'},
  {'criterion': 'squared_error', 'max_features': 'sqrt', 'splitter': 'random'},
  {'criterion': 'squared_error', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'squared_error', 'max_features': 'log2', 'splitter': 'random'},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'random'},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'random'},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'best'},
  {'criterion': 'absolute_error',
   'max_features': 'sqrt',
   'splitter': 'random'},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'absolute_error',
   'max_features': 'log2',
   'splitter': 'random'}],
 'split0_test_score': array([0.68216679, 0.71964885, 0.66014192, 0.68175463, 0.62575274,
        0.66108913, 0.76304874, 0.71865614, 0.79452959, 0.63838301,
        0.69739755, 0.7185684 ]),
 'split1_test_score': array([0.39708978, 0.62341884, 0.77576436, 0.63799491, 0.71895845,
        0.62364718, 0.71757039, 0.62624956, 0.65568766, 0.74589971,
        0.74615893, 0.68312279]),
 'split2_test_score': array([0.61887514, 0.51210431, 0.53561688, 0.61468985, 0.58382894,
        0.67013231, 0.5099108 , 0.62324907, 0.52468179, 0.62087623,
        0.60304759, 0.61028238]),
 'split3_test_score': array([0.74774298, 0.6368365 , 0.71581211, 0.26973272, 0.70241084,
        0.63381049, 0.59905806, 0.54035798, 0.74263801, 0.69075802,
        0.2837774 , 0.57210637]),
 'split4_test_score': array([0.63397628, 0.63672181, 0.66538774, 0.62235942, 0.63193018,
        0.56668849, 0.60640778, 0.62540578, 0.68032215, 0.63101326,
        0.69641032, 0.54455613]),
 'mean_test_score': array([0.61597019, 0.62574606, 0.6705446 , 0.56530631, 0.65257623,
        0.63107352, 0.63919915, 0.62678371, 0.67957184, 0.66538604,
        0.60535836, 0.62572722]),
 'std_test_score': array([0.1183109 , 0.06630394, 0.07932294, 0.14960039, 0.05052135,
        0.03642691, 0.09042437, 0.05643515, 0.09138334, 0.04694244,
        0.16733567, 0.06575138]),
 'rank_test_score': array([10,  8,  2, 12,  4,  6,  5,  7,  1,  3, 11,  9], dtype=int32)}

In [17]:
table=pd.DataFrame.from_dict(grid.cv_results_)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.083409,0.111219,0.074607,0.071384,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.682167,0.397090,0.618875,0.747743,0.633976,0.615970,0.118311,10
1,0.043165,0.046438,0.116971,0.072075,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.719649,0.623419,0.512104,0.636837,0.636722,0.625746,0.066304,8
2,0.140960,0.097965,0.022478,0.035426,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.660142,0.775764,0.535617,0.715812,0.665388,0.670545,0.079323,2
3,0.141818,0.049427,0.062397,0.077530,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.681755,0.637995,0.614690,0.269733,0.622359,0.565306,0.149600,12
4,0.138873,0.076741,0.023701,0.038842,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.625753,0.718958,0.583829,0.702411,0.631930,0.652576,0.050521,4
5,0.139142,0.079342,0.022401,0.036068,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.661089,0.623647,0.670132,0.633810,0.566688,0.631074,0.036427,6
6,0.083872,0.038205,0.039760,0.044462,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.763049,0.717570,0.509911,0.599058,0.606408,0.639199,0.090424,5
7,0.064145,0.078014,0.039803,0.044321,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.718656,0.626250,0.623249,0.540358,0.625406,0.626784,0.056435,7
8,0.381815,0.040186,0.059925,0.046736,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.794530,0.655688,0.524682,0.742638,0.680322,0.679572,0.091383,1
9,0.340993,0.101318,0.061414,0.046205,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.638383,0.745900,0.620876,0.690758,0.631013,0.665386,0.046942,3
10,0.440256,0.115824,0.059427,0.046199,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.697398,0.746159,0.603048,0.283777,0.696410,0.605358,0.167336,11
11,0.302690,0.108624,0.081171,0.074616,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.718568,0.683123,0.610282,0.572106,0.544556,0.625727,0.065751,9

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 41
BMI: 34
Children: 1
Sex Male 0 or 1: 1
Smoker Yes 0 or 1: 0

In [20]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
Future_Prediction

/opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([6289.7549])

In [21]:
import pickle
pickle.dump(grid,open("Grid_DT_Regression.sav",'wb'))

In [24]:
loaded_midel=pickle.load(open("Grid_DT_Regression.sav",'rb'))
results=loaded_midel.predict([[67,35.72,2,1,1]])

/opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [25]:
results

array([47403.88])