In [24]:
class MainFunction:
    def table( x):
        y = 11
        print(f"The {x} table:")
        print("----------")
        for i in range(1, y):
            print(f"{x} X {i} = {i * x}")

    def positive_or_negative( number):
        if number > 0:
            print("The number is positive.")
        elif number < 0:
            print("The number is negative.")
        else:
            print("The number is zero.")

    def subfields():
        print("Sub-fields in AI are:")
        print("Machine Learning")
        print("Neural Networks")
        print("Vision")
        print("Robotics")
        print("Speech Processing")
        print("Natural Language Processing")

    def odd_even( x):
        if x % 2 == 0:
            print(f"The number {x} is Even.")
        else:
            print(f"The number {x} is Odd.")

    def flames():
        name1 = input("Enter the first name: ").strip().lower()
        name2 = input("Enter the second name: ").strip().lower()
        n1 = name1
        n2 = name2

        # Remove common characters from both names
        for char in name1:
            if char in name2:
                name1 = name1.replace(char, '', 1)
                name2 = name2.replace(char, '', 1)

        print(name1)
        print(name2)

        # Count the remaining characters
        count = len(name1) + len(name2)

        # Define flames result categories
        categories = ['Friends', 'Lovers', 'Affectionate', 'Marriage', 'Enemies', 'Siblings']

        # Finding the result based on count
        while len(categories) > 1:
            index = (count % len(categories) - 1)
            if index >= 0:
                right = categories[index + 1:]
                left = categories[:index]
                categories = right + left
            else:
                categories = categories[:len(categories) - 1]

        # Output the relationship category
        print("Relationship between", n1.capitalize(), "and", n2.capitalize(), "is:", categories[0])

    def percentage():
        S1 = input("Enter the mark for Subject 1: ")
        S2 = input("Enter the mark for Subject 2: ")
        S3 = input("Enter the mark for Subject 3: ")
        S4 = input("Enter the mark for Subject 4: ")
        S5 = input("Enter the mark for Subject 5: ")
        Total = int(S1) + int(S2) + int(S3) + int(S4) + int(S5)
        Percentage = (Total / 500) * 100
        print("Total:", Total)
        print("Percentage:", Percentage)

    def triangle():
        H1 = input("Enter the Height: ")
        B1 = input("Enter the Breadth: ")
        AofT = (int(H1) * int(B1)) / 2
        print("Area of Triangle:", AofT)

In [17]:
MainFunction.table(45)

The 45 table:
----------
45 X 1 = 45
45 X 2 = 90
45 X 3 = 135
45 X 4 = 180
45 X 5 = 225
45 X 6 = 270
45 X 7 = 315
45 X 8 = 360
45 X 9 = 405
45 X 10 = 450

In [21]:
MainFunction.positive_or_negative(0)

The number is zero.

In [26]:
MainFunction.odd_even(19)

The number 19 is Odd.

In [52]:
class Calculator:
    @staticmethod
    def calc(x, y, z):
        if z == '+':
            result = x + y
        elif z == '-':
            result = x - y
        elif z == '*':
            result = x * y
        elif z == '/':
            result = x / y
        elif z == '%':
            result = x % y
        else:
            raise ValueError(f"Unsupported operation '{z}'. Supported operations are: +, -, *, /, %.")

        return result

In [56]:
Calculator.calc(49,59,'+')

108

In [58]:
Calculator.calc(49,59,'-')

-10

In [60]:
Calculator.calc(49,59,'*')

2891

In [62]:
Calculator.calc(49,59,'/')

0.8305084745762712

In [64]:
Calculator.calc(49,59,'%')

49

In [66]:
MainFunction.percentage()

Enter the mark for Subject 1:  93
Enter the mark for Subject 2:  87
Enter the mark for Subject 3:  100
Enter the mark for Subject 4:  100
Enter the mark for Subject 5:  98

Total: 478
Percentage: 95.6

In [70]:
MainFunction.triangle()

Enter the Height:  56
Enter the Breadth:  67

Area of Triangle: 1876.0

In [72]:
MainFunction.flames()

Enter the first name:  Saravanakumar
Enter the second name:  Kanimoli

sravaauar
ioli
Relationship between Saravanakumar and Kanimoli is: Affectionate