In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [7]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent,dependent,test_size=30,random_state=0)

In [11]:
x_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1      True       False
610    47  29.370         1     False       False
569    48  40.565         2      True        True
1034   61  38.380         0      True       False
198    51  18.050         0     False       False
981    34  21.375         0      True       False
31     18  26.315         0     False       False
1256   51  36.385         3     False       False
1219   38  30.210         3     False       False
1320   31  31.065         3      True       False
613    34  19.000         3     False       False
1107   50  26.220         2     False       False
1263   43  29.900         1     False       False
406    33  24.310         0     False       False
795    27  28.500         0      True        True
970    50  28.160         3     False       False
824    60  24.320         0      True       False
141    26  32.490         1      True       False
1173   38  29.260         2      True       False
1042   20  30.685         0      True        True
966    51  24.795         2      True        True
467    56  33.820         2     False       False
1098   52  30.875         0     False       False
757    47  27.830         0     False        True
1097   22  33.770         0      True       False
319    32  37.335         1      True       False
1286   28  17.290         0     False       False
459    40  33.000         3     False       False
5      31  25.740         0     False       False
517    45  30.495         2      True       False

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.transform(x_test)

In [14]:
# Multi Linear Algorithm
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

width=regressor.coef_
bias=regressor.intercept_

#print (width)
#print(bias)

from sklearn.metrics import r2_score
y_predict=regressor.predict(x_test)
#print(y_predict)
score=r2_score(y_test,y_predict)

score

0.7767188502011089

In [15]:
from sklearn.svm import SVR
regressor=SVR()
regressor.fit(x_train,y_train)

#width=regressor.coef_
#bias=regressor.intercept_
#print (width)
#print(bias)

from sklearn.metrics import r2_score
y_predict=regressor.predict(x_test)
#print(y_predict)
score=r2_score(y_test,y_predict)

score

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.04449583989588257

In [16]:
# Support Vertex Machine  Tree Algorithm
def SVM(x_train, y_train, x_test, y_test, kernelV, gamma, C, epsilon): 
    from sklearn.svm import SVR
    from sklearn.metrics import r2_score

    regressor = SVR(kernel=kernelV, gamma=gamma, C=C)
    regressor.fit(x_train, y_train)

    y_predict = regressor.predict(x_test)
    score = r2_score(y_test, y_predict)

    return score

In [17]:
SVM(x_train,y_train,x_test,y_test,'linear','scale',1.0,0.1)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.06045428335074621

In [18]:
SVM(x_train,y_train,x_test,y_test,'linear','scale',100.0,0.1)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6526425528616651

In [19]:
SVM(x_train,y_train,x_test,y_test,'linear','auto',1.0,0.1)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.06045428335074621

In [21]:
param_list = [
    ('linear', 'scale',1.0,0.1),
    ('linear','scale',10.0,0.1),
     ('linear','scale',100.0,0.1),
     ('poly','scale',1.0,0.1),
    ('poly','scale',10.0,0.1),
    ('poly','scale',100.0,0.1),
    ('rbf','scale',1.0,0.1),
    ('rbf','scale',10.0,0.1),
    ('rbf','scale',100.0,0.1),
       ('sigmoid','scale',1.0,0.1),
        ('sigmoid','scale',10.0,0.1),
    ('sigmoid','scale',100.0,0.1)
  
    
]

In [22]:
param_list

[('linear', 'scale', 1.0, 0.1),
 ('linear', 'scale', 10.0, 0.1),
 ('linear', 'scale', 100.0, 0.1),
 ('poly', 'scale', 1.0, 0.1),
 ('poly', 'scale', 10.0, 0.1),
 ('poly', 'scale', 100.0, 0.1),
 ('rbf', 'scale', 1.0, 0.1),
 ('rbf', 'scale', 10.0, 0.1),
 ('rbf', 'scale', 100.0, 0.1),
 ('sigmoid', 'scale', 1.0, 0.1),
 ('sigmoid', 'scale', 10.0, 0.1),
 ('sigmoid', 'scale', 100.0, 0.1)]

In [23]:
# Store all results
results = []

for kernel, gamma, C , epsilon in param_list:
    score = SVM(x_train, y_train, x_test, y_test, kernel, gamma, C,epsilon)
    results.append((score, kernel, gamma, C,epsilon))

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
results

[(-0.06045428335074621, 'linear', 'scale', 1.0, 0.1),
 (0.10698228097727025, 'linear', 'scale', 10.0, 0.1),
 (0.6526425528616651, 'linear', 'scale', 100.0, 0.1),
 (-0.01885564800563655, 'poly', 'scale', 1.0, 0.1),
 (-0.06701735570241407, 'poly', 'scale', 10.0, 0.1),
 (-0.07156841898244592, 'poly', 'scale', 100.0, 0.1),
 (-0.04449583989588257, 'rbf', 'scale', 1.0, 0.1),
 (-0.027968691970398085, 'rbf', 'scale', 10.0, 0.1),
 (-0.06440606480600453, 'rbf', 'scale', 100.0, 0.1),
 (-0.046515894655580814, 'sigmoid', 'scale', 1.0, 0.1),
 (-0.05178930789073499, 'sigmoid', 'scale', 10.0, 0.1),
 (-0.12411817767146238, 'sigmoid', 'scale', 100.0, 0.1)]

In [25]:
param_list = [
    ('linear', 'scale',1.0,0.2),
    ('linear','scale',10.0,0.2),
     ('linear','scale',100.0,0.2),
     ('poly','scale',1.0,0.2),
    ('poly','scale',10.0,0.2),
    ('poly','scale',100.0,0.2),
    ('rbf','scale',1.0,0.2),
    ('rbf','scale',10.0,0.2),
    ('rbf','scale',100.0,0.2),
       ('sigmoid','scale',1.0,0.2),
        ('sigmoid','scale',10.0,0.2),
    ('sigmoid','scale',100.0,0.2)
  
    
]

In [26]:
param_list

[('linear', 'scale', 1.0, 0.2),
 ('linear', 'scale', 10.0, 0.2),
 ('linear', 'scale', 100.0, 0.2),
 ('poly', 'scale', 1.0, 0.2),
 ('poly', 'scale', 10.0, 0.2),
 ('poly', 'scale', 100.0, 0.2),
 ('rbf', 'scale', 1.0, 0.2),
 ('rbf', 'scale', 10.0, 0.2),
 ('rbf', 'scale', 100.0, 0.2),
 ('sigmoid', 'scale', 1.0, 0.2),
 ('sigmoid', 'scale', 10.0, 0.2),
 ('sigmoid', 'scale', 100.0, 0.2)]

In [27]:
# Store all results
results = []

for kernel, gamma, C , epsilon in param_list:
    score = SVM(x_train, y_train, x_test, y_test, kernel, gamma, C,epsilon)
    results.append((score, kernel, gamma, C,epsilon))

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
results

[(-0.06045428335074621, 'linear', 'scale', 1.0, 0.2),
 (0.10698228097727025, 'linear', 'scale', 10.0, 0.2),
 (0.6526425528616651, 'linear', 'scale', 100.0, 0.2),
 (-0.01885564800563655, 'poly', 'scale', 1.0, 0.2),
 (-0.06701735570241407, 'poly', 'scale', 10.0, 0.2),
 (-0.07156841898244592, 'poly', 'scale', 100.0, 0.2),
 (-0.04449583989588257, 'rbf', 'scale', 1.0, 0.2),
 (-0.027968691970398085, 'rbf', 'scale', 10.0, 0.2),
 (-0.06440606480600453, 'rbf', 'scale', 100.0, 0.2),
 (-0.046515894655580814, 'sigmoid', 'scale', 1.0, 0.2),
 (-0.05178930789073499, 'sigmoid', 'scale', 10.0, 0.2),
 (-0.12411817767146238, 'sigmoid', 'scale', 100.0, 0.2)]

In [29]:
# Decision Tree Algorithm
def DT (x_train, y_train, x_test, y_test,criterion,splitter):
    from sklearn.tree import DecisionTreeRegressor
    regressor=DecisionTreeRegressor()
    regressor.fit(x_train,y_train)

    from sklearn.metrics import r2_score
    y_predict=regressor.predict(x_test)
    score=r2_score(y_test,y_predict)
    return score

In [30]:
DT(x_train, y_train, x_test, y_test,'friedman_mse','best')

0.35218364537237623

In [31]:
DT(x_train, y_train, x_test, y_test,'friedman_mse','random')

0.3524814813962053

In [32]:
DT(x_train, y_train, x_test, y_test,'squared_error','best')

0.3519640118312388

In [33]:
DT(x_train, y_train, x_test, y_test,'squared_error','random')

0.3523547418287766

In [34]:
DT(x_train, y_train, x_test, y_test,'absolute_error','best')

0.4246878626440349

In [35]:
DT(x_train, y_train, x_test, y_test,'absolute_error','random')

0.3523688073934499

In [36]:
# RandomForest Algorithm
def RF (x_train, y_train, x_test, y_test,estimators,criterion):
    from sklearn.ensemble import RandomForestRegressor
    regressor=RandomForestRegressor()
    regressor.fit(x_train,y_train)

    from sklearn.metrics import r2_score
    y_predict=regressor.predict(x_test)
    score=r2_score(y_test,y_predict)

    return score

In [37]:
RF(x_train, y_train, x_test, y_test,'100','squared_error')

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8824054576377429

In [38]:
RF(x_train, y_train, x_test, y_test,'100','absolute_error')

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8592674808077294

In [39]:
RF(x_train, y_train, x_test, y_test,'1','absolute_error')

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8868614576606606

In [40]:
RF(x_train, y_train, x_test, y_test,'1','friedman_mse')

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8606386340636137

In [41]:
RF(x_train, y_train, x_test, y_test,'100','friedman_mse')

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.8774999293752412

In [42]:
# Boosting Algorithm
# Ada Boosting
def BA (x_train, y_train, x_test, y_test,random_state,estimators):
    from sklearn.ensemble import AdaBoostRegressor
    regressor=AdaBoostRegressor()
    regressor.fit(x_train,y_train)
    
    from sklearn.metrics import r2_score
    y_predict=regressor.predict(x_test)
    score=r2_score(y_test,y_predict)

    return score

In [43]:
BA (x_train, y_train, x_test, y_test,0,100)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8297668381959509

In [44]:
BA (x_train, y_train, x_test, y_test,None,100)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8420029611159484

In [45]:
BA (x_train, y_train, x_test, y_test,None,1)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8792331258885029

In [58]:
# Boosting Algorithm
# XG Boosting
def XG (x_train, y_train, x_test, y_test,random_state,estimators):
    from sklearn.ensemble import GradientBoostingRegressor
    regressor=GradientBoostingRegressor()
    regressor.fit(x_train,y_train)
    
    from sklearn.metrics import r2_score
    y_predict=regressor.predict(x_test)
    score=r2_score(y_test,y_predict)

    return score

In [59]:
XG (x_train, y_train, x_test, y_test,None,1)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/ensemble/_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9363350676905242

In [60]:
XG (x_train, y_train, x_test, y_test,None,100)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/ensemble/_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9363350676905242

In [61]:
XG (x_train, y_train, x_test, y_test,0,1000)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/ensemble/_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9363350676905243

In [63]:
import pickle
pickle.dump(regressor,open("insurance_charg_prdiction.sav",'wb'))

In [69]:
loaded_midel=pickle.load(open("insurance_charg_prdiction.sav",'rb'))
results=loaded_midel.predict([[67,35.72,2,1,1]])

    #age bmi	children	sex_male	smoker_yes

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [70]:
results

array([9476.61834665])